<?php
return array (
  'default' => 
  array (
    'user' => 'hackazon',
    'password' => {{ mysql_password | quote }},
    'driver' => 'PDOV',
    'connection' => "mysql:host={{ mysql_host }};port=3306;dbname=hackazon",
    'db' => 'hackazon',
    'host' => {{ mysql_host | quote }},
    'port' => '3306',
  ),
);
